.big {
    font-size: 1.5em !important;
}

.small {
    font-size: 0.75em !important;
}

.bigImage {max-height:500px !important;}

.reveal ul ul {
    list-style-type: circle
    font-size: .9em !important;
}

.fancy {
    border-radius: 10px !important;
    box-shadow: 5px 5px 4px #666666 !important;
}

.coding-tools {
    height: 100%;
    width:100%;
    text-align:left;
    background-image:url('../assets/codingTools.jpg');
    background-position: center center;
}